/******/
/* UI */
/******/


tw-sidebar {
    left: initial;
    width: initial;
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 72px;
}

tw-sidebar tw-icon {
    display: inline-block;
    margin: 0 3px;
    opacity: 0.7;
}
tw-sidebar tw-icon:hover {
    opacity: initial;
}

tw-sidebar tw-icon.undo {
    background-image: url('../img/b-undo.svg');
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

tw-sidebar tw-icon.redo {
    background-image: url('../img/b-redo.svg');
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 100vh;
    text-align: center;
    z-index: 1;
    color: var(--color-beige);
    font-size: 24px;
    background-color: rgba(0,0,0,1);
}

.sidebar .restart {
    display: inline-block;
    background-image: url('../img/b-restart.svg');
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.mv-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.mv-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.mh-30 {
    margin-left: 30px;
    margin-right: 30px;
}
.mt-42 {margin-top: 42px;}
.mt-40 {margin-top: 40px;}
.mt-300 {margin-top: 300px;}

#accumulator-bar {
    display: inline-block;
    width: 100%;
    height: 98px;
    background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/i-fistumulator-0.svg);
}
#accumulator-bar[data-step="0"] {background-image: url(../img/i-fistumulator-0.svg);}
#accumulator-bar[data-step="1"] {background-image: url(../img/i-fistumulator-1.svg);}
#accumulator-bar[data-step="2"] {background-image: url(../img/i-fistumulator-2.svg);}
#accumulator-bar[data-step="3"] {background-image: url(../img/i-fistumulator-3.svg);}
#accumulator-bar[data-step="4"] {background-image: url(../img/i-fistumulator-4.svg);}
#accumulator-bar[data-step="5"] {background-image: url(../img/i-fistumulator-5.svg);}
#accumulator-bar[data-step="6"] {background-image: url(../img/i-fistumulator-6.svg);}
#accumulator-bar[data-step="7"] {background-image: url(../img/i-fistumulator-7.svg);}
#accumulator-bar[data-step="8"] {background-image: url(../img/i-fistumulator-8.svg);}
#accumulator-bar[data-step="9"] {background-image: url(../img/i-fistumulator-9.svg);}
#accumulator-bar[data-step="10"] {background-image: url(../img/i-fistumulator-10.svg);}


.sidebar-inventory .inventory-item {
    display: inline-block;
    width: 100%;
    height: 70px;
    background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.sidebar-inventory .inventory-namecard {
    background-image: url(../img/i-namecard.svg);
    height: 78px;
}
.sidebar-inventory .inventory-namecard.active {
    background-image: url(../img/i-namecard-active.svg);
}
.sidebar-inventory .inventory-certificate {
    background-image: url(../img/i-certificate.svg);
    height: 106px;
}
.sidebar-inventory .inventory-certificate.active {
    background-image: url(../img/i-certificate-active.svg);
}
.sidebar-inventory .inventory-stamp {
    background-image: url(../img/i-stamp.svg);
    height: 80px;
}
.sidebar-inventory .inventory-stamp.active {
    background-image: url(../img/i-stamp-active.svg);
}
.sidebar-inventory .inventory-gun {
    background-image: url(../img/i-gun.svg);
    height: 70px;
}
.sidebar-inventory .inventory-gun.active {
    background-image: url(../img/i-gun-active.svg);
}
.sidebar-inventory .inventory-penandletter {
    background-image: url(../img/i-penandletter.svg);
    height: 102px;
}
.sidebar-inventory .inventory-penandletter.active {
    background-image: url(../img/i-penandletter-active.svg);
}

/**************************/
/* BACKGROUND AND AVATARS */
/**************************/

html {
    background-image: linear-gradient(rgba(190, 170, 120, 1), rgba(80, 70, 60, 1)); 
}

tw-story {
    background-color: unset;
}

/* SIZE AND POSITION */
tw-story{
    background-repeat: no-repeat;
}
tw-story[tags*="bg-"]:not([tags*='speaker-']) {
    background-size: cover;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
    background-position: center;
}
tw-story[tags*="speaker-"][tags*="bg-"] {
    background-position: 0% 100%, center;
}
tw-story[tags*="speaker-"][tags*="bg-"]:not([tags*='bg-kenburns']) {
    background-size: auto 70%, cover;
}
tw-story[tags*="speaker-"][tags*="bg-"][tags*="bg-kenburns"] {
    background-size: auto 70%, 120%;
}

/* ANIMATIONS */

tw-story[tags*="bg-kenburns"]:not([tags*='speaker-']) {
    animation: bg-kenburns 20s ease-in-out forwards;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-kenburns"][tags*='speaker-'] {
    animation: bg-kenburns-wspeaker 20s ease-in-out forwards;
}

@keyframes bg-kenburns-wspeaker {
    from { 
        background-size: auto 70%, 120%;
    }
    to { 
        background-size: auto 70%, 100%;
    }
}

@keyframes bg-kenburns {
    from { 
        background-size: 120%;
    }
    to { 
        background-size: 100%;
    }
}

/*************************/
/* TEXT STYLING & LAYOUT */
/*************************/
body {
    font-family:"Marlene Grande Medium";
}

tw-story {
    color: var(--color-beige);
    font-family:"Marlene Grande Medium";
    font-weight: normal;
}

tw-passage {
    position: absolute;
    top: 42px;
    left: 534px;
    width: 900px;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0.8px;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
}
tw-passage h1 {
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* select only navigational links, not inline expanding links */
/*tw-passage tw-expression[name='link-goto'] {
    font-size: 28px;
}*/

br + tw-expression[name='link-goto'] {
    display: inline-block;
    /*margin-top: 56px;*/
}

/* undo margin-top for all non-first passage links */
br + tw-expression[name='link-goto'] ~ tw-expression[name='link-goto'] {
    margin-top: 0;
}


/* select all tw-links (navigational and inline expanding) */
tw-passage tw-link {
    color: #FFFFFF !important;
    font-family:"SourceSansPro-SemiBold"; 
    font-weight: normal;
    font-size: 28px;
    line-height: 56px;
    letter-spacing: 1.6px;
    text-decoration: underline;
    text-transform: uppercase;
}
tw-passage tw-link:hover, tw-passage tw-link:active, tw-passage tw-link:focus {
    color: #FFFFFF !important;
}

/* fix extra height from br's due to set statments */
tw-passage tw-expression:empty + br {
    display: none;
}

/* decrease height of double line breaks to fit extra tall passages  */
br + br {
    display: block;
    height: 0;
    /*margin: 28px 0;*/
    margin: 14px 0;
}

/**********************/
/* BG & AVATAR IMAGES */
/**********************/

/* bg-nature */
tw-story[tags*="bg-nature"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-nature.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-nature"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-nature.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-nature"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-nature.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-nature"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-nature.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-vienna */
tw-story[tags*="bg-vienna"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-vienna.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-vienna"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-vienna.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-vienna"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-vienna.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-vienna"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-vienna.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-prison */
tw-story[tags*="bg-prison"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-prison.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-prison"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-prison.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-prison"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-prison.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-prison"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-prison.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-pub */
tw-story[tags*="bg-pub"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-pub.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-pub"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-pub.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-pub"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-pub.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-pub"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-pub.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-forest */
tw-story[tags*="bg-forest"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-forest.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-forest"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-forest.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-forest"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-forest.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-forest"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-forest.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-myjava */
tw-story[tags*="bg-myjava"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-myjava.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-myjava"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-myjava.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-myjava"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-myjava.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-myjava"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-myjava.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-battlescene */
tw-story[tags*="bg-battlescene"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-battlescene.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-battlescene"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-battlescene.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-battlescene"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-battlescene.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-battlescene"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-battlescene.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-interior */
tw-story[tags*="bg-interior"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-interior.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-interior"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-interior.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-interior"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-interior.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-interior"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-interior.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}

/* bg-militarycamp */
tw-story[tags*="bg-militarycamp"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-militarycamp.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-militarycamp"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-militarycamp.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-militarycamp"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-militarycamp.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-militarycamp"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-militarycamp.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-garden */
tw-story[tags*="bg-garden"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-garden.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-garden"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-garden.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-garden"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-garden.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-garden"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-garden.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-pitvor */
tw-story[tags*="bg-pitvor"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-pitvor.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-pitvor"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-pitvor.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-pitvor"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-pitvor.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-pitvor"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-pitvor.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}

/* bg-brezova */
tw-story[tags*="bg-brezova"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-brezova.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-brezova"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-brezova.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-brezova"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-brezova.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-brezova"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-brezova.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}

/* bg-hurbansroom */
tw-story[tags*="bg-hurbansroom"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-hurbansroom.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-hurbansroom"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-hurbansroom.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-hurbansroom"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-hurbansroom.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-hurbansroom"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-hurbansroom.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-beautifulwoman-1 */
tw-story[tags*="bg-beautifulwoman-1"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-beautifulwoman-1.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-beautifulwoman-1"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-beautifulwoman-1.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-beautifulwoman-1"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-beautifulwoman-1.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-beautifulwoman-1"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-beautifulwoman-1.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}


/* bg-beautifulwoman-2 */
tw-story[tags*="bg-beautifulwoman-2"]:not([tags*='speaker-']) {
    background-image: url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-beautifulwoman-2.jpg);
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-beautifulwoman-2"][tags*="speaker-stur"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-stur.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-beautifulwoman-2.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-beautifulwoman-2"][tags*="speaker-hurban"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hurban.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-beautifulwoman-2.jpg);
    background-position: 99% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
tw-story[tags*="bg-beautifulwoman-2"][tags*="speaker-hodza"] {
    background-image: 
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/speaker-hodza.gif),
        url(https://raw.githubusercontent.com/SlovakNationalGallery/cyoa1848/master/img/bg-beautifulwoman-2.jpg);
    background-position: 7% 100%, center;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: normal, overlay;
}
