

/******/
/* UI */
/******/

tw-icon {
    opacity: 0.3;   
}

/**************************/
/* BACKGROUND AND AVATARS */
/**************************/

html {
    background-image: linear-gradient(rgba(190, 170, 120, 1), rgba(80, 70, 60, 1)); 
}

tw-story {
    background-color: unset;
}

/* SIZE AND POSITION */
tw-story{
    background-repeat: no-repeat;
}

tw-story[tags*="bg-"]:not([tags*='speaker-']) {
    background-size: cover;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
    background-position: center;
}

tw-story[tags*="speaker-"][tags*="bg-"] {
    background-position: 0% 100%, center;
}

tw-story[tags*="speaker-"][tags*="bg-"]:not([tags*='bg-kenburns']) {
    background-size: auto 70%, cover;
}

tw-story[tags*="speaker-"][tags*="bg-"][tags*="bg-kenburns"] {
    background-size: auto 70%, 120%;
}

/* ANIMATIONS */

tw-story[tags*="bg-kenburns"]:not([tags*='speaker-']) {
    animation: bg-kenburns 20s ease-in-out forwards;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}
tw-story[tags*="bg-kenburns"][tags*='speaker-'] {
    animation: bg-kenburns-wspeaker 20s ease-in-out forwards;
}

@keyframes bg-kenburns-wspeaker {
    from { 
        background-size: auto 70%, 120%;
    }
    to { 
        background-size: auto 70%, 100%;
    }
}

@keyframes bg-kenburns {
    from { 
        background-size: 120%;
    }
    to { 
        background-size: 100%;
    }
}

/*************************/
/* TEXT STYLING & LAYOUT */
/*************************/

tw-story {
    color: #E6E1DC;
    font-family:"SourceSansPro-SemiBold"; 
    font-weight: normal;
}

tw-passage {
    position: absolute;
    top: 180px;
    left: 534px;
    width: 900px;
    font-family:"Marlene Grande Medium"; 
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    text-align: center
}
tw-passage h1 {
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*tw-passage > tw-expression[name='link-goto']:first-of-type {
    display: inline-block;
    margin-top: 120px;
}*/

tw-passage tw-expression[name='link-goto'] {
    font-family:"SourceSansPro-SemiBold"; 
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-decoration: underline;
}

br + tw-expression[name='link-goto'] {
    display: inline-block;
    margin-bottom: 68px;
}

br + tw-expression[name='link-goto']:first-of-type {
    margin-top: 120px;
}

tw-passage tw-link {
    color: #FFFFFF;
}
tw-passage tw-link:hover, tw-passage tw-link:active, tw-passage tw-link:focus {
    color: #FFFFFF;
}


/**********************/
/* BG & AVATAR IMAGES */
/**********************/

/* bg-battlescene */
tw-story[tags*="bg-battlescene"]:not([tags*='speaker-']) {
    background-image: url(../img/bg-battlescene.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}

tw-story[tags*="bg-battlescene"][tags*="speaker-stur"] {
    background-image: 
        url(../img/speaker-stur.png),
        url(../img/bg-battlescene.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-battlescene"][tags*="speaker-hurban"] {
    background-image: 
        url(../img/speaker-hurban.png),
        url(../img/bg-battlescene.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-battlescene"][tags*="speaker-hodza"] {
    background-image: 
        url(../img/speaker-hodza.png),
        url(../img/bg-battlescene.jpg);
    background-position: 5% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}


/* bg-forest */
tw-story[tags*="bg-forest"]:not([tags*='speaker-']) {
    background-image: url(../img/bg-forest.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}

tw-story[tags*="bg-forest"][tags*="speaker-stur"] {
    background-image: 
        url(../img/speaker-stur.png),
        url(../img/bg-forest.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-forest"][tags*="speaker-hurban"] {
    background-image: 
        url(../img/speaker-hurban.png),
        url(../img/bg-forest.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-forest"][tags*="speaker-hodza"] {
    background-image: 
        url(../img/speaker-hodza.png),
        url(../img/bg-forest.jpg);
    background-position: 5% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}


/* bg-interior */
tw-story[tags*="bg-interior"]:not([tags*='speaker-']) {
    background-image: url(../img/bg-interior.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}

tw-story[tags*="bg-interior"][tags*="speaker-stur"] {
    background-image: 
        url(../img/speaker-stur.png),
        url(../img/bg-interior.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-interior"][tags*="speaker-hurban"] {
    background-image: 
        url(../img/speaker-hurban.png),
        url(../img/bg-interior.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-interior"][tags*="speaker-hodza"] {
    background-image: 
        url(../img/speaker-hodza.png),
        url(../img/bg-interior.jpg);
    background-position: 5% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}


/* bg-militarycamp */
tw-story[tags*="bg-militarycamp"]:not([tags*='speaker-']) {
    background-image: url(../img/bg-militarycamp.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}

tw-story[tags*="bg-militarycamp"][tags*="speaker-stur"] {
    background-image: 
        url(../img/speaker-stur.png),
        url(../img/bg-militarycamp.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-militarycamp"][tags*="speaker-hurban"] {
    background-image: 
        url(../img/speaker-hurban.png),
        url(../img/bg-militarycamp.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-militarycamp"][tags*="speaker-hodza"] {
    background-image: 
        url(../img/speaker-hodza.png),
        url(../img/bg-militarycamp.jpg);
    background-position: 5% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}


/* bg-myjava */
tw-story[tags*="bg-myjava"]:not([tags*='speaker-']) {
    background-image: url(../img/bg-myjava.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}

tw-story[tags*="bg-myjava"][tags*="speaker-stur"] {
    background-image: 
        url(../img/speaker-stur.png),
        url(../img/bg-myjava.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-myjava"][tags*="speaker-hurban"] {
    background-image: 
        url(../img/speaker-hurban.png),
        url(../img/bg-myjava.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-myjava"][tags*="speaker-hodza"] {
    background-image: 
        url(../img/speaker-hodza.png),
        url(../img/bg-myjava.jpg);
    background-position: 5% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}


/* bg-nature */
tw-story[tags*="bg-nature"]:not([tags*='speaker-']) {
    background-image: url(../img/bg-nature.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}

tw-story[tags*="bg-nature"][tags*="speaker-stur"] {
    background-image: 
        url(../img/speaker-stur.png),
        url(../img/bg-nature.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-nature"][tags*="speaker-hurban"] {
    background-image: 
        url(../img/speaker-hurban.png),
        url(../img/bg-nature.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-nature"][tags*="speaker-hodza"] {
    background-image: 
        url(../img/speaker-hodza.png),
        url(../img/bg-nature.jpg);
    background-position: 5% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}


/* bg-prison */
tw-story[tags*="bg-prison"]:not([tags*='speaker-']) {
    background-image: url(../img/bg-prison.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}

tw-story[tags*="bg-prison"][tags*="speaker-stur"] {
    background-image: 
        url(../img/speaker-stur.png),
        url(../img/bg-prison.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-prison"][tags*="speaker-hurban"] {
    background-image: 
        url(../img/speaker-hurban.png),
        url(../img/bg-prison.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-prison"][tags*="speaker-hodza"] {
    background-image: 
        url(../img/speaker-hodza.png),
        url(../img/bg-prison.jpg);
    background-position: 5% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}


/* bg-pub */
tw-story[tags*="bg-pub"]:not([tags*='speaker-']) {
    background-image: url(../img/bg-pub.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}

tw-story[tags*="bg-pub"][tags*="speaker-stur"] {
    background-image: 
        url(../img/speaker-stur.png),
        url(../img/bg-pub.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-pub"][tags*="speaker-hurban"] {
    background-image: 
        url(../img/speaker-hurban.png),
        url(../img/bg-pub.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-pub"][tags*="speaker-hodza"] {
    background-image: 
        url(../img/speaker-hodza.png),
        url(../img/bg-pub.jpg);
    background-position: 5% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}


/* bg-vienna */
tw-story[tags*="bg-vienna"]:not([tags*='speaker-']) {
    background-image: url(../img/bg-vienna.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
}

tw-story[tags*="bg-vienna"][tags*="speaker-stur"] {
    background-image: 
        url(../img/speaker-stur.png),
        url(../img/bg-vienna.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-vienna"][tags*="speaker-hurban"] {
    background-image: 
        url(../img/speaker-hurban.png),
        url(../img/bg-vienna.jpg);
    background-position: 95% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}

tw-story[tags*="bg-vienna"][tags*="speaker-hodza"] {
    background-image: 
        url(../img/speaker-hodza.png),
        url(../img/bg-vienna.jpg);
    background-position: 5% 100%, center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: normal, overlay;
}